
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(50, 87, 87);
}

.nav-bar{
    display: flex;
    height: 10vh;
    background-color: white;
    justify-content: space-between;
    

}
    
.left, .right{
    display: flex;
    align-items: center;
    padding: 10px;
}


#btn, #select-difficulty{
    cursor: pointer;
}

#btn:hover{
    color: white;
    background-color: lightskyblue;
}
main{
    background-color: aquamarine;
    display: flex;
    height:80vh;
    align-items: center;
    justify-content: center;
    
}


.container{
    background-color: aquamarine;

    width: 500px;
    height: 500px;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    box-shadow: violet;
}


.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.active{
    background-color: rgb(0, 4, 224);
    color: white;
    cursor: pointer;

}



footer{
    height: 10vh;
    background-color: white;
    font-weight: 700;
    padding: 15px;
}

